<!DOCTYPE html>
<html lang="en">

<head>
  {{>headData}}
  <title>Error Page</title>
</head>

<body>
  {{>header}}
  <div>
    {{ERROR}}
  </div>
  <a href="/">
    <button>Take me Back</button>
  </a>
  {{>footer}}
</body>

</html>