<!DOCTYPE html>
<html lang="en">
<head>
  {{>headData}}
  <title>About Me</title>
</head>
<body>
  {{>header}}
  <p>What the hell will you even do after knowing about me?</p>
  {{>footer}}
</body>
</html>